@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .lg\:drawer-open > .drawer-toggle ~ .drawer-side {
    display: block;
    overscroll-behavior: auto;
    pointer-events: auto;
    position: -webkit-sticky;
    position: sticky;
    visibility: visible;
    width: auto;
  }
}

.loading-indicator:before {
  content: '';
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: ' ';
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.2rem;        
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0474bf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.menu {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  font-size:.875rem;
  line-height:1.25rem;
  padding:.5rem
}
.menu :where(li ul) {
  -webkit-margin-start:1rem;
  -webkit-padding-start:.5rem;
  margin-inline-start:1rem;
  padding-inline-start:.5rem;
  position:relative;
  white-space:nowrap
}
.menu :where(li:not(.menu-title)>:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title)>details>summary:not(.menu-title)) {
  grid-gap:.5rem;
  align-content:flex-start;
  align-items:center;
  display:grid;
  gap:.5rem;
  grid-auto-columns:minmax(auto,-webkit-max-content) auto -webkit-max-content;
  grid-auto-columns:minmax(auto,max-content) auto max-content;
  grid-auto-flow:column;
  -webkit-user-select:none;
  user-select:none
}

.menu :where(li>.menu-dropdown:not(.menu-dropdown-show)) {
  display:none
}
:where(.menu li) {
  align-items:stretch;
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  flex-wrap:wrap;
  position:relative
}
:where(.menu li) .badge {
  justify-self:end
}
